.id {
    align-content: center;
    height: 10vw;
}

.id .container {
    position: relative;
}

.id .hexa {
    position: absolute;
    background: #01020B;
    border: 0.6vw solid var(--color_second);
    height: 4.4vw;
    width: 4.4vw;
}

.id .hexa.right {
    top: 0.7vw;
    right: 24.8vw;
    transform: rotate(45deg);
    border-radius: 0.6vw 0vw 0.6vw 0vw;
}

.id .hexa.left {
    top: 0.7vw;
    left: 24.8vw;
    transform: rotate(45deg);
    border-radius: 0.6vw 0vw 0.6vw 0vw;
}

.id .hexa.right {
    top: 0.7vw;
    right: 24.8vw;
    transform: rotate(45deg);
    border-radius: 0.6vw 0vw 0.6vw 0vw;
}

.id .hexagono {
    position: relative;
    background: #01020B;
    border-top: 0.6vw solid var(--color_second);
    border-bottom: 0.6vw solid var(--color_second);
    height: 5.7vw;
    align-content: center;
    margin-left: 27vw;
    margin-right: 27vw;
}

.id p {
    text-align: center;
    font-size: 2.9vw;
    font-weight: bold;
    text-shadow: 0em 0em 2vw var(--color_second);
}