/* section default settings */
#info {
    background-color: var(--ColorGrayLight);
}

/* section default settings */
#info .camp {
    display: flex;
    padding: 0em 1em 3em 1em;
    justify-content: space-evenly;
}

/* section default settings */
#info .camp .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info .camp .card img#photo {
    width: 25em;
}

/* section default settings */
#info .camp .card .icons {
    display: flex;
    gap: 1.5em;
}

#info .camp button {
    background-color: transparent;
    border-radius: 100%;
    padding: 0em;
    cursor: pointer;
    border: none;
}

#info .camp button img {
    width: 5em;
}