/* section default settings */
#info {
    background-color: var(--ColorGrayLight);
}

/* the field with the cards */
#info .camp {
    display: flex;
    padding: 0em 1em 3em 1em;
    justify-content: space-evenly;
}

/* card styling */
#info .camp .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info .camp .card img#photo {
    width: 25em;
}

/* button styling */
#info .camp .card .icons {
    display: flex;
    gap: 1.5em;
}

#info .camp button {
    background-color: transparent;
    border-radius: 100%;
    padding: 0em;
    cursor: pointer;
    border: none;
}

#info .camp button img {
    width: 5em;
}

/* styles responsiveness */
@media (max-width: 650px) {
    #info .camp {
        flex-direction: column;
        padding: 0em 0.5em 1.5em 0.5em;
    }

    #info .camp .card .icons {
        gap: 1em;
    }
}