/* field where the image goes */
.ink {
    width: 100%;
    height: 3em;
    background-image: url('../img/ink.png');
    background-size: contain;
    background-position: center;
}

/* definition for each side */
.ink.top {
    background-color: var(--ColorBlueDark);
}

.ink.bot {
    background-color: var(--ColorGrayDark);
    transform: rotate(180deg);
}

/* styles responsiveness */
@media (max-width: 650px) {
    .ink {
        width: 100%;
        margin: -0.1em 0em;
    }

    .ink.top {
        background-color: var(--ColorBlueLight);
    }

    .ink.bot {
        background-color: var(--ColorGrayLight);
    }
}