/* styles navegation */
nav {
    background-color: var(--ColorNav);
    color: var(--ColorText);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    position: fixed;
    width: calc(100% - 1em);
    z-index: 1000;
}

/* styles navegation camp left */
nav .head {
    display: flex;
    align-items: center;
}

nav .head img#logo {
    width: 2.5em;
    height: 2.5em;
}

nav .head img#logotext {
    height: 1em;
    margin-left: 1em;
}

nav .head hr {
    height: 2.5em;
    border: 1px solid var(--ColorText);
}

/* styles navegation camp right */
nav .ref {
    display: flex;
    gap: 1em;
}

nav .ref a {
    color: var(--ColorText);
    text-decoration: none;
}

/* styles aside */
aside {
    display: none;
}

/* styles responsiveness */
@media (max-width: 650px) {
    /* navegation bar */
    nav {
        justify-content: center;
        padding: 1em;
    }

    nav .head img#logo {
        width: 3.5em;
        height: 3.5em;
    }

    /* navegation camp */
    nav .head img#logotext,
    nav .head hr,
    nav .ref {
        display: none;
    }

    /* styles aside */
    aside {
        display: block;
        position: fixed;
        z-index: 1000;
    }

    /* styles aside button */
    aside .btn button {
        position: fixed;
        right: 1.5em;
        bottom: 1.5em;
        padding: 0em;
        cursor: pointer;
        border-radius: 100%;
        border: 0em;
    }

    aside .camp .btn button {
        position: absolute;
        left: 1.5em;
        bottom: 1.5em;
        width: 5.5em;
    }

    aside .btn img {
        width: 5.5em;
    }

    /* styles aside menu */
    aside .camp {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 5.5em;
        width: 15em;
        right: 0em;
        padding: 1em;
        height: calc(100% - 7.5em);
        gap: 1em;
        background-color: var(--ColorNav);
    }

    aside .hidden {
        display: none;
    }

}