#platform {
    background-color: var(--ColorBlack);
}

/* first field with information */
#platform .part01 {
    padding: 0em 2em 2em 2em;
    display: flex;
    gap: 2em;
    align-items: center;
}

/* text and icons */
#platform .part01 .group {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: calc(100% / 2);
}

#platform .part01 .group p {
    font-size: 1.1em;
    line-height: 1.5em;
}

#platform .part01 .group div {
    justify-content: center;
    display: flex;
    gap: 1em;
}

#platform .part01 .group img {
    width: 4.25em;
}

/* table 01 */
#platform .part01 .table01 {
    width: calc(100% / 2);
    background-color: var(--ColorGrayDark);
}

#platform .part01 .table01 table {
    width: 100%;
    border-spacing: 1em;
}

#platform .part01 .table01 table tr {
    background-color: var(--ColorGrayLight);
    text-align: center;
    height: 2em;
}

/* styles responsiveness */
@media (max-width: 650px) {
    
    #platform .part01 {
        padding: 0em 1em 1em 1em;
    }

    #platform .part01 {
        display: flex;
        flex-direction: column;
    }

    #platform .part01 .group,
    #platform .part01 .table01 {
        width: 100%;
    }
}