@font-face {
    font-family: "Inria_Sans"; src: url('../font/InriaSans-Bold.ttf');
}

:root {
	--back1: #00132F;
	--back2: #012641;
	--back3: #000000;
	--back4: #101218;
	--back5: #252629;
	--color_primary: #ffffff;
	--color_second: #078B00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inria_Sans';
    color: rgb(255, 255, 255);
    text-align: justify;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
}