@font-face {
    font-family: "Inria_Sans"; src: url('../font/InriaSans-Bold.ttf');
}

:root {
    --ColorNav: #0D0D0D;
    --ColorText: #FFFFFF;
    --ColorPrimary: #00ff00;
    --ColorBlueLight: #012641;
}

body {
    margin: 0px;
    font-family: "Inria_Sans";
}