nav {
    margin: -0.1em;
    background-color: var(--back4);
}

nav .part01 {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

nav .part01 .gamev1,
nav .part01 .gamev2,
nav .part01 .gamev3 {
    justify-items: center;
}

nav .part01 img {
    margin-left: 3vw;
    margin-right: 3vw;
    height: 28vw;
    width: auto;
}

nav .part01 p {
    margin: 0.2em 0em 1em 0em;
    font-size: 2.5vw;
}

nav button {
    display: inline-flex;
    align-items: center;
    background-color: var(--color_second);
    border: none;
    padding: 0.2em 2em;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1.5em;
    margin-bottom: 2.5vw;
}

nav button img.icon {
      width: 1.5em;
      height: 1.5em;
      margin: 0em 1em 0em -0.2em;
}

nav button:hover {
    background-color: var(--color_primary);
    box-shadow: 0px 0px 1vw var(--color_primary);
}

nav .part02 {
    margin-top: 2.5vw;
    background-color: var(--back5);
    display: flex;
    gap: 2.9vw;
    justify-content: center;
}

nav .part02 .product1,
nav .part02 .product2 {
    background-color: var(--back4);
    justify-items: center;
    text-align: center;
    width: 45vw;
}

nav .part02 h1 {
    font-size: 3vw;
}

nav .part02 img {
    margin-top: 1vw;
    width: 35vw;
    height: 27vw;
    margin-bottom: 1.5em;
}

@media (max-width: 685px) {
    nav .part01 {
        display: contents;
    }  
    
    nav .part01 .gamev1,
    nav .part01 .gamev2,
    nav .part01 .gamev3 {
        margin-top: 2vw;
    }
    
    nav .part01 img {
        height: 58vw;
    }

    nav .part01 p.normal {
        font-size: 4vw;
    }
    
    nav .part01 p.discount {
        font-size: 6vw;
        line-height: 4vw;
    }

    nav button {
        width: 44vw;
        font-size: 6vw;
        border-radius: 2vw;
        margin-bottom: 5vw;
    }
    
    nav .part02 {
        display: contents;
    }

    nav .part02 .product1,
    nav .part02 .product2 {
        margin-top: 2vw;
        width: 100%;
    }

    nav .part02 h1 {
        font-size: 6vw;
    }
    
    nav .part02 img {
        margin-top: 2vw;
        width: 70vw;
    }
}