article {
    background-color: var(--back2);
}

article .part01 .container01,
article .part01 .container02{
    display: flex;
    padding-bottom: 2.5vw;
}

article .part01 .container01 {
    flex-direction: row-reverse;
}

article .part01 .container01 img {
    margin-right: 2vw;
    width: 35vw;
}

article .part01 .container02 img {
    margin-left: 2vw;
    width: 50vw;
}

article .part01 .text {
    align-content: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

article .part01 p {
    font-size: 1.7vw;
    text-align: justify;
    font-weight: bold;
}