div.ink {
    background-image: url('../img/ink.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    transform: scaleX(-1);
    width: 100%;
    height: 3.6em;
}

div.ink.top{
    background-color: var(--back2);
}

div.ink.bottom {
    transform: rotate(180deg);
    background-color: var(--back4);
}

search {
    background-color: var(--back3);
}

search .part01 {
    display: flex;
    align-items: center;
    margin-bottom: 2.5vw;
}

search .part01 p{
    margin: 0vw 2vw;
    font-size: 1.6vw;
    font-weight: bold;
}

search .part01 .icons {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin: 2em;
}

search .part01 .icons .circle {
    background-color: #fff;
    display: grid;
    border-radius: 100em;
    width: 7.5vw;
    height: 7.5vw;
    align-content: center;
    justify-content: center;
}

search .part01 .icons .circle img {
    width: 5.5vw;
}

search table,
search th,
search td {
    border-collapse: collapse;
    border: 1vw solid #101218;
    font-size: 2vw;
}

search table.ta1 {
    width: calc(200% - 2em);
    margin: 0px 1em 0px 1em;
}

search table.ta1 th,
search table.ta2 th {
    text-align: center;
    font-size: 1.5vw;
    height: 3.5vw;
}

search table.ta2 {
    width: calc(100% - 2em);
    margin: 0px 1em 0px 1em;
}

search tr {
    background-color: #252629;
}


@media (max-width: 685px) {
    div.ink {
        content: url('/src/img/ink2.png');
    }

    search .part01 img {
        width: 15vw;
    }

    search h1 {
        font-size: 6vw;
    }
    
    search .part01 p{
        font-size: 4.5vw;
    }
    
    search table,
    search th,
    search td {
        font-size: 3.5vw;
    }

    search th.type {
        width: 26vw;
    }
    
    search th.description {
        width: 70vw;
    }
}