/* source reference */
@font-face {
    font-family: "Inria_Sans"; src: url('../font/InriaSans-Bold.ttf');
}

/* variables */
:root {
    --ColorNav: #0D0D0D;
    --ColorText: #FFFFFF;
    --ColorPrimary: #00ff00;
    --ColorBlueLight: #012641;

    
    --TextNormal: 1.46em;
    --TextTitle: 2em;
}

/* default settings */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: "Inria_Sans";
    color: var(--ColorText);
}

/* specific configurations */
section {
    scroll-margin-top: 4.75em;
}

p {
    margin: 0;
    font-size: var(--TextNormal);
    text-align: justify;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: var(--TextTitle);
}

a {
    color: var(--ColorText);
    text-decoration: none;
}

/* styles responsiveness */
@media (max-width: 650px) {
    :root {
        --TextNormal: 1.25em;
        --TextTitle: 1.75em;
    }
}