.title {
    align-content: center;
}

.title .container {
    position: relative;
}

.title .hexa {
    position: absolute;
    background-color: var(--ColorNav);
    border: 0.4vw solid var(--ColorPrimary);
    height: 3.5vw;
    width: 3.55vw;
    top: 0.65vw;
    border-radius: 0.6vw 0vw 0.6vw 0vw;
    transform: rotate(45deg);
}

.title .hexa.left {
    left: 27.75vw;
}

.title .hexa.right {
    right: 27.75vw;
}

.title .hexagono {
    background-color: var(--ColorNav);
    position: relative;
    border-top: 0.4vw solid var(--ColorPrimary);
    border-bottom: 0.4vw solid var(--ColorPrimary);
    padding: 0.75em;
    align-content: center;
    margin-left: 30vw;
    margin-right: 30vw;
}

.title h1 {
    margin: 0;
    text-align: center;
    color: var(--ColorText);
    font-size: 2em;
}